body {
  width: 1280px;
  height: 768px;
  margin: auto;
  /* margin-left: 90px; */
  font-family: "Dosis", sans-serif;
  color: #fff;
  background-color: rgb(32, 32, 32);
  position: relative;
}

main {
  display: flex;
  justify-content: space-between;
}

/* DISPLAY STAND */
#container {
  position: relative;
}

#container img {
  cursor: ew-resize;
}

#container p {
  position: absolute;
  top: 655px;
  left: 0;
  font-size: 19px;
  background-color: rgb(32, 32, 32);
  padding: 10px;
  border-radius: 30px;
}

/* DESCRIPTION IMAGES AND TEXT */
section {
  margin-left: 15px;
}

p {
  font-size: 19px;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 52px;
  text-decoration: underline dotted #fff;
  text-shadow: 2px 1px 5px rgb(250, 145, 232);
  margin-top: 100px;
  margin-bottom: 5px;
}

header p {
  margin-top: 0;
  margin-bottom: 8px;
}

header p:first-of-type {
  font-size: 27px;
}

header p:last-of-type {
  font-size: 20px;
}

article {
  display: flex;
  border: 7px solid rgb(255, 140, 217);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 735px;
  height: 227px;
}

article p:last-of-type {
  margin: 0 10px 0 25px;
  width: 400px;
  align-items: center;
  display: flex;
  font-size: 18px;
  line-height: 1.3em;
}

/* IMAGE SLIDSHOW */
#content {
  position: relative;
}

#content img {
  position: absolute;
  left: 0;
  top: 0;
}

.fadeinImg {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* IMAGE PREVIOUS AND NEXT BUTTON */
#buttons-container {
  position: relative;
  width: 300px;
  height: 225px;
}

button {
  display: none;
  position: absolute;
  top: 95px;
  width: 30px;
  background: none;
  border: none;
  font-size: 35px;
  color: rgb(255, 140, 217);
}

#previous {
  left: 4px;
}

#next {
  left: 267px;
}

button:hover {
  display: block;
  cursor: pointer;
  color: rgb(219, 121, 186);
  transform: scale(1.2);
}

/* DIV CONTAINERS FOR EACH KEYCHAIN HOTSPOT */
#container {
  position: relative;
  margin: auto;
}

.front,
.back {
  position: absolute;
  cursor: pointer;
}

.back {
  display: none;
}

#keychain1s {
  top: 70px;
  left: 77px;
  width: 30px;
  height: 200px;
}

#keychain2s {
  top: 70px;
  left: 150px;
  width: 50px;
  height: 185px;
}

#keychain3s {
  top: 70px;
  left: 242px;
  width: 50px;
  height: 155px;
}

#keychain4s {
  top: 75px;
  left: 322px;
  width: 42px;
  height: 195px;
}

#keychain5s {
  top: 340px;
  left: 78px;
  width: 60px;
  height: 110px;
}

#keychain6s {
  top: 330px;
  left: 150px;
  width: 90px;
  height: 130px;
}

#keychain7s {
  top: 330px;
  left: 238px;
  width: 57px;
  height: 145px;
}

#keychain8s {
  top: 335px;
  left: 328px;
  width: 35px;
  height: 90px;
}
